{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th colspan="3">
                <form method="get">
                    <label>
                        User:
                        <select name="filter_username">
                            <option value="">-- Please Select --</option>
                            {% for user_id, username in scores|app_filter('username') %}
                                <option value="{{ user_id }}"{% if filter.username is same as(user_id) %} selected="selected"{% endif %}>{{ username }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    &nbsp;&nbsp;- AND -&nbsp;&nbsp;
                    <label>
                        Score:
                        <select name="filter_score">
                            <option value="">-- Please Select --</option>
                            {% for score in scores|app_filter('score') %}
                                <option value="{{ score }}"{% if filter.score is same as(score) %} selected="selected"{% endif %}>{{ score }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    &nbsp;&nbsp;- AND -&nbsp;&nbsp;
                    <label>
                        Difficulty:
                        <select name="filter_difficulty">
                            <option value="">-- Please Select --</option>
                            {% for difficulty_id, difficulty in scores|app_filter('difficulty') %}
                                <option value="{{ difficulty_id }}"{% if filter.difficulty is same as(difficulty_id) %} selected="selected"{% endif %}>{{ difficulty }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <input type="submit" class="btn btn-primary" value="Refine"/>
                    <button id="reset-btn" type="reset" class="btn btn-info">Reset</button>
                </form>
            </th>
        </tr>
        </thead>
        {% for row in scores %}
            <tr>
                <td>{{ row.user.username }}</td>
                <td>{{ row.score }}</td>
                <td>{{ row.difficulty.value }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
            integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
            crossorigin="anonymous"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $('#reset-btn').on('click', function () {
                var form = $(this).closest('form');
                form.find('select').find('option').removeAttr('selected');
                form.submit();
            })
        });
    </script>
{% endblock %}
