{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <div class="container-md">
            Filtering:
            <form method="get">
                <label>
                    User:
                    <select name="username">
                        <option value="">-- Please Select --</option>
                        {% for user_id, username in scores|app_filter('username') %}
                            <option value="{{ user_id }}"{% if filter.username is same as(user_id) %} selected="selected"{% endif %}>{{ username }}</option>
                        {% endfor %}
                    </select>
                </label>
                &nbsp;&nbsp;- AND -&nbsp;&nbsp;
                <label>
                    Score:
                    <select name="score">
                        <option value="">-- Please Select --</option>
                        {% for score in scores|app_filter('score') %}
                            <option value="{{ score }}"{% if filter.score is same as(score) %} selected="selected"{% endif %}>{{ score }}</option>
                        {% endfor %}
                    </select>
                </label>
                &nbsp;&nbsp;- AND -&nbsp;&nbsp;
                <label>
                    Difficulty:
                    <select name="difficulty">
                        <option value="">-- Please Select --</option>
                        {% for difficulty_id, difficulty in scores|app_filter('difficulty') %}
                            <option value="{{ difficulty_id }}"{% if filter.difficulty is same as(difficulty_id) %} selected="selected"{% endif %}>{{ difficulty }}</option>
                        {% endfor %}
                    </select>
                </label>
                <input type="submit" class="btn btn-primary" value="Refine"/>
                <button id="reset-btn" type="reset" class="btn btn-info">Reset</button>
            </form>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Username <small><a href="{{ path('homepage') }}?{{ app_order_query_sting(filter, 'username', 'asc') }}">Order A-Z</a> | <a href="{{ path('homepage') }}?{{ app_order_query_sting(filter, 'username', 'desc') }}">Order Z-A</a></small></th>
            <th>Score <small><a href="{{ path('homepage') }}?{{ app_order_query_sting(filter, 'score', 'asc') }}">Order A-Z</a> | <a href="{{ path('homepage') }}?{{ app_order_query_sting(filter, 'score', 'desc') }}">Order Z-A</a></small></th>
            <th>Difficulty <small><a href="{{ path('homepage') }}?{{ app_order_query_sting(filter, 'difficulty', 'asc') }}">Order A-Z</a> | <a href="{{ path('homepage') }}?{{ app_order_query_sting(filter, 'difficulty', 'desc') }}">Order Z-A</a></small></th>
        </tr>
        </thead>
        {% for row in scores %}
            <tr>
                <td>{{ row.user.username }}</td>
                <td>{{ row.score }}</td>
                <td>{{ row.difficulty.value }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
            integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
            crossorigin="anonymous"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $('#reset-btn').on('click', function () {
                var form = $(this).closest('form');
                form.find('select').find('option').removeAttr('selected');
                form.submit();
            })
        });
    </script>
{% endblock %}
